@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loader */

#load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
  }
  
  #load div {
    position:absolute;
    width:2rem;
    height:5rem;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 3s linear infinite;
    -o-animation:move 3s linear infinite;
    -moz-animation:move 3s linear infinite;
    -webkit-animation:move 3s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#000000;
    font-size:x-large;
    text-shadow: #000000;
  }
  
  #load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  #load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  #load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  #load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }
  #load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
    35% {
      left: 41%; 
      -moz-transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      -webkit-transform:rotate(0deg); 
      -o-transform:rotate(0deg);
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      -webkit-transform:rotate(-180deg); 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-moz-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    65% {
      left:59%; 
      -moz-transform:rotate(0deg); 
      transform:rotate(0deg);
      opacity:1;
    }
    100% {
      left:100%; 
      -moz-transform:rotate(-180deg); 
      transform:rotate(-180deg);
      opacity:0;
    }
  }
  
  @-webkit-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -webkit-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%;
      -webkit-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }
  
  @-o-keyframes move {
    0% {
      left:0; 
      opacity:0;
    }
    35% {
      left:41%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    65% {
      left:59%; 
      -o-transform:rotate(0deg); 
      transform:rotate(0deg); 
      opacity:1;
    }
    100% {
      left:100%; 
      -o-transform:rotate(-180deg); 
      transform:rotate(-180deg); 
      opacity:0;
    }
  }

/* -------- */

body{
    background-color:rgb(243, 245, 245);
}

.About{
  margin-top: 1rem;
  background-color: black;
    /* background-image: url("https://th.bing.com/th/id/R.32523e893d262dd32a04ddc21b4e6837?rik=z5PUb6DOICo2Lw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2fb%2f9%2f594688.jpg&ehk=%2fqenuz%2bHRXLZvBqA4cyOGX2tkf2LEB7nuyFWFN9DkPo%3d&risl=&pid=ImgRaw&r=0"); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh ;

}

.feature{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    
}
.fleft{
    overflow: auto;
    width: 100%;
    height: inherit;
    text-align: center;
    overflow:scroll;  
    
}
.fleft::-webkit-scrollbar {
  width: 0; 
}
.ele{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    color: white;
    width: 100%;
}

  .para{
  margin-left: 25vw;
  padding: 2px 12px;
  border-left: 5px solid white;

}
.who-we h3{
  font-size: 4rem;
  font-family:monospace;
  font-weight: bold;
  /* text-shadow: 10px 4px 13px #828080; */
  text-transform: uppercase;
}
.who-we p{
  font-size: 1.5rem;
  text-align: left;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px); 
  }
}

.imganim {
  animation: moveUpDown 2s ease-in-out infinite; 
}
@keyframes moveUpDown1 {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-13px); 
  }
}

.buttonmove {
  animation: moveUpDown1 3s ease-in-out infinite; 
}


/* CBC Center */

.center-container {
  position: relative;
}

.button-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}


/*  forms */

.form-container{
  color: #fdfafa;
  /* left : 20vw; */
  position : relative;
  width : 100vw;
  height : 100vh;
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  padding : 0px 50px;
  background-color: #141E30;
  border-radius: 0 0px 200px 200px;
}
.sign-in-container{
  z-index : 0;
}
.form-container h1{
  color : #cf5610;
  font-size : 30px;
  text-transform: capitalize;
  font-weight: 500;
  margin: 10px 0px;
}

.form-container .infield{
    position : relative;
    margin : 8px 0px;
    width : 45vw;
}
.infield input{
  width : 100%;
  padding :8px 15px;
  background-color : #fdfafa;
  border : none;
  outline : none;
  color: #000000;
}

.infield label{
  position : relative;
    width : 0%;
    height : 2px;
    letter-spacing: 0.1rem;
}
.form-container button{
  border-radius : 20px;
  border:1px solid #141E30;
  background : #243B55;
  color : #fff;
  font-size: 12px;
  font-weight : bold;
  padding : 12px 45px;
  letter-spacing : 1px;
  text-transform : uppercase;
  margin-top : 17px;
  
} 
.form-container button:hover{
  background: #cf5610;
  color: #141E30;
}

.post_creator{
  
  /* background-color: #243B55; */
  background-color: #f4f3f3;
}

.post_list_outer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}
.post_list{
  display: flex;
  flex-direction: column;
  margin-top: 14vh;
  width: 100vw;
  justify-content: center;
  align-items: center;  
}
.post_list_inner{
  width: 40vw;
  justify-content: center;
  align-items: center;  
  
}
.post_list .h2{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  font-weight: bold;
  margin-bottom: 50px;
}

